/* Global Styles */

body {
    background: linear-gradient(
            to bottom,
            rgba(30, 75, 115, 1),
            rgba(255, 255, 255, 0)
        ),
        center / cover url(../images/bridge_background.jpg) no-repeat;
}

.container {
    max-width: 1120px;
}

/* Header */

.logo {
    width: 2.5rem;
}

.jumbotron-fluid {
    padding: 10rem 0 7rem 0;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.3) 100%
        ),
        center / cover url(../images/bridge_hero.jpeg);
}

/* Main */

.message {
    background-color: rgb(193, 216, 228);
}

.card {
    max-width: 20rem;
}

/* Footer */
.profile {
    width: 2rem;
}

footer > .container > div > *:not(:last-child) {
    margin-right: 0.5rem;
}

/* Form <textarea> */
.id_body {
    align-self: stretch;
}

/* Register/Login form */

.login-form {
    opacity: 95%;
    background-color: rgb(59, 252, 255);
}

.register-form {
    opacity: 95%;
    background-color: rgb(217, 217, 217);
}

.register-form input {
    display: block;
}

.login-form input,
.register-form input {
    width: 100%;
}

#id_username,
#id_email,
#id_password,
#id_password1,
#id_password2 {
    background: none;
    border-color: rgb(255, 255, 255)
}
