{% extends 'home.html' %} {% block main %}
<h2><u>{{ category.type }}</u></h2>
<section>
    <ol>
        {% for thread in threads %}
        <li>
            <div class="threadDiv">
                <a href="{% url 'thread' thread_id=thread.id resp_id=0 %}">
                    Q{{ forloop.counter }}: {{ thread.body }}
                </a>
                Created: {{ thread.date }}
            </div>
        </li>
        {% endfor %}
    </ol>
</section>
<section>
    <form
        action="{% url 'category' category.id category.type|slugify %}"
        method="POST"
    >
        {% csrf_token %}
        {{ thread_form.as_p }}
        <input type="submit" name="add" value="Submit" />
    </form>
</section>
{% endblock %}}
