
{% extends 'base.html' %}

{% block h1 %}Bridge Knowledge{% endblock %}

{% block main %}
<section>
    <h1
        class="text-center text-white display-5 text-uppercase mb-5 bg-transparent shadow rounded"
    >
        {{ category.type }}
    </h1>
    {% for thread in threads %}
    <a
        class="btn message w-100 p-3 pb-1 mb-4 rounded shadow text-decoration-none"
        href="{% url 'thread' thread_id=thread.id resp_id=0 %}"
    >
        <p class="text-start">
            <i class="bi bi-person-circle"></i><i class="bi bi-dash-lg"></i
            ><b>Asked</b> {{ thread.user.username }}<i class="bi bi-dash-lg"></i>{{ thread.date }}
        </p>
        <p
            class="text-start fw-bold w-100 d-inline-flex justify-content-between"
        >
            {{ thread.body }}
        </p>
        <p class="text-end text-success">
            <i class="bi bi-dash-lg"></i>Click to answer in thread
        </p>
    </a>
    {% endfor %}
</section>
<!-- Button trigger modal -->
<button
    type="button"
    class="btn btn-primary mb-5 shadow"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
>
    Click to ask a question
</button>
<!-- Modal -->
<div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Ask a question and select categories
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <form
                id="thread-form"
                action="{% url 'category' category.id category.type|slugify %}"
                method="POST"
            >
                <div class="modal-body d-flex flex-column">
                    {% csrf_token %} {{ thread_form }}
                </div>
                <div class="modal-footer" id="model-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Cancel
                    </button>
                    <button
                        type="submit"
                        name="add"
                        class="btn btn-primary"
                    >
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block categoryjs %}
    {% load static %}
    <script src="{% static 'js/category.js' %}"></script>
{% endblock %}
