<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bridge App</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'home' %} "><img src="/static/images/bridge.png" /></a>
                <h2>Spanning Questions And Answers</h2>
                <ul>
                    {% for category in categories %}
                    <li> <a
                        href="{% url 'category' category_id=category.id category_slug=category.type|slugify %}"
                    >
                        {{ category.type }}
                    </a></li>
                    {% endfor %}
                </ul>
                {% if user.is_authenticated %}
                <h3>You are logged in as: {{ user.username }} </h3>
                <h4>Click here to <a href="{% url 'logout' %}">log out</a></h4>
                {% else %} 
                Click here to <a href="{% url 'login' %}">login</a> / 
                Click here to <a href="{% url 'register' %}">register</a> 
                {% endif %} 
            </nav>
            <hr>
        </header>
        {% block main %}
        <main>
            <h1>Welcome to Bridge</h1>
            <p>Bridge is a question/answer platform for the justice-involved community, including friends and family of justice-involved persons. Its purpose is to connect those with questions about going to, being in, or coming home from prison with those who know the answers. Users can browse question threads, create new questions, and respond to questions. Questions may be assigned to one or all of these categories: Pre-Commitment (going to); Currently Incarcerated (being in); and Post-Release (coming home). </p>
            <ul>
                {% for category in categories %}
                <li>
                    <a
                        href="{% url 'category' category_id=category.id category_slug=category.type|slugify %}"
                    >
                        {{ category.type }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </main>
        {% endblock %}
        <footer>
            <p>&copy; {{ year }} by JTC team Bridge</p>
            <nav>
                <ul>
                    <li>
                        List of Developer GitHub profile links
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
