
{% extends 'base.html' %}

{% load static %}

{% block main %}
<section class="main-message mb-5">
    <p class="message p-4 p-md-5 rounded shadow">
        Bridge provides a space primarily for the justice impacted community to seek and offer empirical information about the criminal justice system, namely, information related to pre-commitment proceedings, reality of incarceration, and post-release life. Anyone who has not directly been invovled with the criminal justice system, to include the families and friends of those who have, may also find voices here which address their concerns or answer their questions about a system that significantly impacts millions of lives and the society as a whole. We offer a forum for demystifying aspects of the criminal justice system through the experiences of those who have have been there and who can identify most with those who are effected and want answers.
    </p>
</section>

<seciton class="cards">
    <h1 class="text-center text-white display-5 text-uppercase mb-5 bg-transparent shadow rounded">Concerns</h1>
    <div class="d-flex flex-column align-items-center flex-md-row align-items-md-stretch justify-content-md-around">
        {% for category in categories %}
        <div class="card col-md-4 bg-info mb-5 mx-1 rounded shadow-lg">
            {% if category.id == 1 %}
            <img class="card-img-top" src="{% static '/images/court.png' %}" alt="Pre-commitment" />
            {% elif category.id == 2 %}
            <img class="card-img-top" src="{% static '/images/prison.png' %}" alt="In-custody" />
            {% elif category.id == 3 %}
            <img class="card-img-top" src="{% static '/images/release.png' %}" alt="Post-release" />
            {% endif %}
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-center">{{ category.type }}</h5>
                {% if category.id == 1 %}
                    <p class="card-text">Conerns about pre-conviction detention and legal proceedings such as attorney representation, bail, arraignment, appeals and writs, and trial.</p>
                {% elif category.id == 2 %}
                    <p class="card-text">Conerns about post-conviction proceedings, appeals and writs, prison and prison programming, visitation, civil rights in prison, and the like.</p>
                {% elif category.id == 3 %}
                    <p class="card-text">Conerns about probation and parole, post-release housing, transportation, health care, education, employment, driver license and ID, and the like.</p>
                {% endif %}
                <a href="{% url 'category' category_id=category.id category_slug=category.type|slugify %}" class="btn btn-sm btn-outline-primary fw-bold w-100 text-center mt-auto">Discussions <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</seciton>
{% endblock %}
