{% extends 'home.html' %} {% block main %}
    <h1>Question and Responses:</h1>
    <h3>{{ thread.body }}</h3>
    <ul>
        {% for response in responses %}
            <li>{{ response.body }}&nbsp;<a href="{% url 'thread' thread_id=thread.id resp_id=response.id %}">Edit</a></li>
        {% endfor %}
    </ul>
    <form action="{% url 'thread' thread_id=thread.id resp_id=id %}" method="POST">
        {% csrf_token %}
        {{ response_form }}
        <input type="submit" name="create" value="Create" />
        <input type="submit" name="update" value="Update" />
        <input type="submit" name="remove" value="Remove" />
    </form>
{% endblock %}
