<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>

    <ul> 
        {% for thread in threads %}

        <li>
            <a href="{% url 'response' thread.id %}"> {{ thread.body }}</a>
        </li>
        {% endfor %}
        
        </ul>

        <form action = "{% url 'new_thread' %}">
            <input type = "submit" value = "Create a New Thread">
        </form>
           
</body>
</html>

