body{background-color: whitesmoke;}







/* style for Thread div class */
.threadDiv {
    display: flex;
    flex-flow: column;
    max-width: auto;
    overflow-wrap: break-word;
    margin: 10px;
    padding: 3px;
    border: 2px outset darkblue;
    background-color: lightblue;    
    text-align: left;
    text-indent: 5px;
}

ol {
    list-style-type: square;
    list-style-position: outside;
  }

/* New Thread Form */
.new-thread {
    display: flex;
    flex-flow: column;
    max-width: 30vw;
}
